<div class="row justify-content-center">
      <div class="col-12 text-center">
      <div class="section-title">
      	<h2>Create a Workout</h2>
      </div>
      </div>
      <div class="col-lg-8 col-md-10">
      	<form class="row new-workout-form">
      		<div class="col-md-12 mb-3">
      			<input type="text"  id="new-workout-title" placeholder="Workout Title">
      		</div>
      		<div class="col-md-8 mb-3">
            <select class="form-select"  id="new-workout-type" aria-label="Default select example">
              <option selected>Work Out Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
      		</div>
        <div class="col-md-4 mb-3">
      		  <input type="text"  id="new-workout-size" placeholder="Group Size">
      		</div>
      		<div class="col-md-4 mb-3">
      			<input type="text"  id="datepicker" placeholder="Date">
      		</div>
		      <div class="col-md-4 mb-3">
      			<input type="text"  id="new-workout-time" placeholder="Time">
      		</div>

          <div class="col-md-4  mb-3">
            <select class="form-select"  id="new-workout-duration" aria-label="Default select example">
              <option selected>Duration (Minutes)</option>
              <option value="1">15</option>
              <option value="2">30</option>
              <option value="3">45</option>
              <option value="3">60</option>
              <option value="3">90</option>
            </select>
      		</div>

          <div class="col-md-12 mb-3">
      		  <input type="text" id="new-workout-location" placeholder="Location Name">
      		</div>
          <div class="col-md-12 mb-3">
      		  <input type="text"  id="new-workout-address" placeholder="Address">
      		</div>
          <div class="col-md-12 mb-3">
				  <textarea  id="new-workout-description" placeholder="Work out description. Please include any additional information your attendee's may need to know"></textarea>
      		</div>
    	  	<div class="col-12 text-center">
          <button type="submit" class="btn btn-primary">Create Workout</button>
      		</div>
      	</form>
      </div>
    </div>
    <script src="./js/new.js"></script>