<div class="row justify-content-center">
      <div class="col-8 text-center">
      <div class="section-title">
      	<h2>Register</h2>
      <p>Orci varius natoque penatibus et magnis dis turient montes nascetur ridiculus mus. Cras eleifend tellus sed congue ectetur velit turpis faucibus odio eget penatibus et magnis dis.</p>
      </div>
      </div>
      <div class="col-lg-8 col-md-10">
      	<form class="row signup-form">
      		<div class="col-md-12 mb-3">
      			<input type="text" id="signup-fname" placeholder="First name">
     		</div>
      		<div class="col-md-12 mb-3">
      			<input type="text" id="signup-lname" placeholder="Last name">
      		</div>
      		<div class="col-md-12 mb-3">
            <input type="email" class="form-control" id="signup-email" placeholder="Email">
      		</div>
          <div class="col-md-4 mb-3">
      			<input type="text" id="signup-postcode" placeholder="Postcode">
      		</div>
          <div class="col-md-4 mb-3">
      			<select class="form-select" id="signup-gender" aria-label="Default select example">
              <option selected>Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>
      		</div>
           <div class="col-md-4 mb-3">
      			<input type="text" id="signup-age" placeholder="Age">
      		</div>
      		<div class="col-12 mb-3">
				  <textarea id="signup-bio" placeholder="A short bio of yourself to display when hosting an event"></textarea>
      		</div>
          	<div class="col-md-12 mb-3">
      			<input type="password" id="signup-password" placeholder="Password">
      		</div>
      		<div class="col-12 text-center mb-3">
             <button type="submit" class="btn btn-primary">Register</button>
      		</div>
      	</form>
        </div>
        <div class="text-center mt-4">
        <p>Already have an account? <a href="/login"> Login </a> </p>
      </div>
    </div>

<script src="./js/signup.js"></script>
