body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: .25px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #101010;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
  color: #5e5f5f;
}
h6 {
	font-size: 16px;
}
p {
  color: #989898;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 28px;
}

a {
	text-decoration: none !important;
	font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

p {
  font-size: 18px;
  color: #7c838b;
  margin-bottom: 6px;
}

h5 span {
  margin: 0 14px;
  color: #aaaaaa;
}

h6 span {
  margin: 0 14px;
  color: #aaaaaa;
}

.workout-content h2 {
  font-size: 40px;
  padding: 15px 0;
}

.workout-content h4 {
  font-size: 22px;
  padding: 5px 0;
}

.workout-content p {
  font-size: 18px;
  color: #7c838b;
  padding-top: 20px;
  padding-bottom: 40px;
}

.btn-primary {
  background: #3fa4dd;
  border-color: #3fa4dd;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary:hover {
  border-color: #3fa4dd;
  color: #3fa4dd;
  background: #ffffff;
}

.btn-outline-primary {
  border-color: #3fa4dd;
  color: #3fa4dd;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-outline-primary:hover {
  border-color: #3fa4dd;
  color: #ffffff;
  background: #3fa4dd;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
  background: #f4fbff;
}

.find-btn {
  height: 46px;
  line-height: 44px;
  float: center;
  border: 1px solid #67bef0;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  padding: 0 46px;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #3fa4dd;
}

.find-bt:hover {
  border-color: #1874b2;
  color: #ffffff;
  background: #1874b2;
}

.section-title {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 80px;
}

.section-title-sm {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
}

.section-sub {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.workout-list-container {
  width: 100%;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  margin-top: 20px;
  margin-bottom: 30px;
  display: none;
}

.workout-list-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #fff;
  position: relative;
  min-height: 350px;
}


.workout-list-content h3 {
  display: block;
  font-size: 26px;
  margin: 10px 0 0 0;
}

.workout-list-content p {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  padding: 10px 0 5px 0;
}

.workout-list p {
  font-size: 18px;
  color: #7c838b;
  margin-bottom: 5px;
}

.workout-list-content p {
max-height: 100px;
overflow: hidden;
}

.workout-list-map {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;
}

.event-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem!important;
}

.event-btn a {
  height: 46px;
  line-height: 44px;
  float: left;
  border: 1px solid #dee0e2;
  border-radius: 6px;
  text-align: center;
  color: #7c838b;
  font-weight: 700;
  padding: 0 46px;
  margin-top: 10px;
  text-transform: uppercase
}

.event-btn a:hover {
  background: #3fa4dd;
  border-color: #3fa4dd;
  color: #fff;
  text-decoration: none;
}

.event-btn a:active {
  background: #2787c8;
  border-color: #2787c8;
  color: #fff;
  text-decoration: none;
}

.event-btn button {
  height: 46px;
  line-height: 44px;
  float: left;
  border: 1px solid #dee0e2;
  border-radius: 6px;
  text-align: center;
  color: #7c838b;
  font-weight: 700;
  padding: 0 46px;
  margin-top: 10px;
  text-transform: uppercase;
}

.event-btn button:hover {
  background: #f72222;
  border-color: #f72222;
  color: #fff;
  text-decoration: none;
}

.event-btn button:active {
  background: #b80808;
  border-color: #b80808;
  color: #fff;
  text-decoration: none;
}

.workout-btn button {
  height: 46px;
  line-height: 44px;
  float: left;
  border: 1px solid #2787c8;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0 46px;
  margin-top: 10px;
  text-transform: uppercase;
  background: #3fa4dd;
  border-color: #3fa4dd;
}

.workout-btn button:hover {
  background: #2787c8;
  border-color: #2787c8;
  color: #fff;
  text-decoration: none;
}

.workout-btn button:active {
  background: #3fa4dd;
  border-color: #3fa4dd;
  color: #fff;
  text-decoration: none;
}


form {
  text-align: left;
}

form input, form select {
  width: 100%;
  height: 46px;
  line-height: 44px;
  float: left;
  border: 1px solid #dee0e2;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 16px;
  color: #393c3f;
}

form textarea {
  width: 100%;
  min-height: 140px;
  float: left;
  border: 1px solid #dee0e2;
  border-radius: 6px;
  padding: 15px;
}


form button[type="submit"] {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: #3fa4dd;
  color: #fff;
  padding: 0 70px;
  border-radius: 6px;
  font-weight: 700;
  margin-top: 30px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border: none;
  cursor: pointer;
}



.workout-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0;
  background: #f4fbff;
}

 .host-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
 .host-info p {
  font-size: 16px;
  line-height: 24px;
  color: #7c838b;
  margin-bottom: 5px;
}

.host-info h3 {
  text-align: center;
  padding-bottom: 20px;
}

.host-info .inner {
  width: 100%;
  float: left;
  background: #fff;
  padding: 30px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.group-map {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}

.group-map .map-area {
  width: 100%;
  width: 100%;
  height: 400px;
  background-color: grey;
  margin: 0;
  position: relative;
}

.group-map .map-content {
  width: 100%;
  padding: 30px;
  background: #fff;
  text-align: center;
}


.my-list-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.my-list-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #fff;
  position: relative;
}

.my-list-content h3 {
  display: block;
  font-size: 26px;
  margin: 10px 0;
}

.my-list-content p {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  padding: 5px 0 10px 0;
}

.my-list p {
  font-size: 18px;
  color: #7c838b;
  margin-bottom: 5px;
}

.my-list-content p {
max-height: 100px;
overflow: hidden;
}

.profile-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-info p {
  font-size: 18px;
  line-height: 24px;
  color: #7c838b;
  margin-bottom: 15px;
  margin-top: 5px;
}

.profile-info h3 {
  text-align: center;
  padding-bottom: 20px;
}

.profile-info .inner {
  width: 100%;
  float: left;
  background: #fff;
  padding: 30px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}


.workout-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.workout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 43px;
  background: #fff;
  position: relative;
}

/* #map {
  width: 100%;
  height: 400px;
  background-color: grey;
} */

.show {
  display: flex;
}

.hide {
  display: none;
}

.filter-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.filter-menu button {
  height: 46px;
  line-height: 44px;
  border: 1px solid #dee0e2;
  border-radius: 6px;
  text-align: center;
  color: #7c838b;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #FFF;
}

.workout-options {
  /* width: 22%; */
}

.filter-menu .active {
  height: 46px;
  line-height: 44px;
  border: 1px solid #67bef0;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #3fa4dd;
}